#admin_addFaculty{
    font-family: 'Benne';
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    overflow: auto !important;
}
#submit_addfaculty{
  height: 40px;
  font-family: 'Benne';
  font-size: large;
}
.addfaculty_alert_button{
    text-align: center;
}
#admin_addFaculty input,select{
    height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-left: 5px;
}
#addfaculty_address{
    resize:vertical;
    height: 10vh;
    width: 400px;
    padding-left: 5px;
}
#admin_addFaculty>div{
    display: flex;
    flex-direction: column;    
    margin: 10px;
    width: 400px;
}
