#studentTimeTable{
    width: 70%;
    height: 70vh;
    margin: auto;
}
.empty{
    text-align: center;
    margin: 25px 0;
    font-size:x-large;
    font-weight: bold;
    font-family: 'Benne';
}
#studentTimeTable h1{
    font-family: 'Benne';
    text-align: center;
    text-decoration: underline;
}
#allTimeTables>div{
    display: flex;
    justify-content: center;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
}
#allTimeTables>div div{
    margin: 10px;
}
#allTimeTables>div a{
    text-decoration: underline;
    color: rgb(0, 162, 255);
    margin: 10px;
}