.AddAdmin_Section{
    align-self: center;
    width: 85%;
}
#AddAdmin_Form{
    font-family: 'Benne';
    font-size: larger;
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#AddAdmin_Form label{
    font-weight: bold;
}
#AddAdmin_Form > div{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: 10px;
}
#AddAdmin_Form input{
    padding: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    height:35px;
    margin: 10px 0;
}
